<% content_for :page_title do %>
    <%= Spree.t(:comission_reports) %>
<% end %>

<% content_for :page_actions do %>
    <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<% content_for :table_filter_title do %>
    <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
    <%= form_tag spree.commission_total_admin_reports_path, method: :get do  %>
        <div class="field align-center">
          <%= label_tag :agent, 'Commission Agent' %>
          <%= select_tag :agent, options_from_collection_for_select(@agents, "id", "email", params[:agent]), prompt: 'All' %>
        </div>

        <div class="date-range-filter field align-center">
          <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
          <%= text_field_tag :completed_at_gt, datepicker_field_value(params[:completed_at_gt]), class: 'datepicker datepicker-from' %>

          <span class="range-divider">
          <i class="fa fa-arrow-right"></i>
        </span>

          <%= text_field_tag :completed_at_lt, datepicker_field_value(params[:completed_at_lt]), class: 'datepicker datepicker-to' %>
          <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
        </div>

        <div class="actions filter-actions">
          <%= button 'Run Report', 'search'  %>
          <%= link_to 'Download CSV', spree.commission_total_admin_reports_path(format: :csv, params: params), class: 'fa fa-search button' %>
        </div>
    <% end %>
<% end %>
<% if @agent.blank? %>
    <%= render 'all_agents_table' %>
<% else %>
    <%= render 'agent_table' %>
<% end %>