<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Commission Agents' } %>

<% content_for :page_title do %>
  <%= Spree.t(:commission_agents) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_commission_agent), new_admin_product_commission_agent_path(@product), { class: "btn-success", icon: 'add', id: 'new_commission_agent_link' } %>
<% end %>
<div class="twelve columns">

<% if @commission_agents.any? %>
  <table class="table" id="listing_commission_agents">
    <thead>
      <tr data-hook="admin_commission_agents_index_headers">
        <th>User</th>
        <th>Amount</th>
        <th data-hook="admin_commission_agents_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @commission_agents.each do |ca| %>
          <tr>
            <td><%= ca.user.email %></td>
            <td><%= display_rate ca %></td>
            <td class="actions actions-3" data-hook="admin_commission_agents_index_row_actions">
              <%= link_to_edit ca, :no_text => true, :class => 'edit' if can?(:edit, ca) %>
              <%= link_to_delete ca, :no_text => true if can?(:delete, ca) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no agents for this product
<% end %>

</div>